html, body {
    height: 100%;
    width: 100%;
    background-image: url(../images/Background.png);
    background-size: cover;
    background-size: 100vw 94vh;
    background-repeat: no-repeat;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    height: 100%;
    width: 100%;
}