html, body {
    height: 100%;
    width: 100%;
    background-image: url(../images/Background.png);
    background-size: cover;
    background-size: 100vw 94vh;
    background-repeat: no-repeat;
}

#root {
    height: 100%;
    width: 100%;
}